<!DOCTYPE html>
<html>
    <head>
        <title>{{ config.site_title }} -- {{ meta.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        {{ bootstrap_css_min }}
        {{ theme_stylesheet }}
        <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
        <link rel="stylesheet" href="{{ theme_url }}/fonts/open-sans/stylesheet.css" type="text/css" />
        <link rel="stylesheet" href="{{ theme_url }}/fonts/robotoslab_regular/stylesheet.css" type="text/css" />
        <!--<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>-->

    </head>
    <body>
        <header>
            {% include tpl.cover ignore missing %}
        </header>
        <section id="info">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">


                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> PICO Ver 0.7</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Prepacked Pico Plugins</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Custom Meta Values</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Page Layout(s)</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>

                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Dynamic Page Galleries</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Custom HTML Templates</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>

                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Built With Bootstrap </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Style Guide Boilerplate</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                        <article>
                            <h1 class="titles"><span class="glyphicon glyphicon-ok-circle"></span> Starter Theme</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam quas libero magnam accusantium. Impedit, voluptates cupiditate sapiente tenetur harum obcaecati eius in quod iste neque odio temporibus nisi ipsam.<span class="readmore"><a href="#">Full Post</a></span></p>
                        </article>
                    </div>
                </div>

            </div>


        </section>


        <section id="screenshots">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Themes</h1>
                        <ul class="grids-3 grid">
                            <li class="folio">
                                <div class="items">
                                    <figure>
                                        <img src="http://placehold.it/400x260&text=Preview" alt=""/>
                                    </figure>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cum, nostrum
                                        obcaecati provident quia unde!</p>
                                </div>
                            </li>

                            <li class="folio">
                                <div class="items">
                                    <figure>
                                        <img src="http://placehold.it/400x260&text=Preview" alt=""/>
                                    </figure>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cum, nostrum
                                        obcaecati provident quia unde!</p>
                                </div>
                            </li>

                            <li class="folio">
                                <div class="items">
                                    <figure>
                                        <img src="http://placehold.it/400x260&text=Preview" alt=""/>
                                    </figure>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cum, nostrum
                                        obcaecati provident quia unde!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
                {% include tpl.content ignore missing %}
            </div>

        </section>


        <footer class="primary-color-5">
            {% include tpl.footer ignore missing %}

            <p>
                <img src="{{ theme_url }}/images/mp-logo-sm.png" alt="logo">
            </p>


            {{ theme.organization }} {{ theme.copyright }}

            <!-- ******end - row****** -->

        </footer>
        <!-- JavaScript plugins (requires jQuery) -->
        <script src="{{ theme_url }}/js/jquery-1.10.2.min.js"></script>
        <!-- Modernizer -->
        <script src="{{ theme_url }}/js/modernizr.custom.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        {{ bootstrap_js_min }}
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ theme_url }}/js/respond/respond.min.js"></script>
        <script src="{{ theme_url }}/js/fixie_min.js" ></script>
    </body>
</html>